
# -- IDE ----------------------------------------------
/nbproject/
.idea/

# -- Vendor -------------------------------------------
vendor/
/auth.json

# -- Project ------------------------------------------
/.env

# -- Develop ------------------------------------------
/build/